<div id="top-white-space"></div>

<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img src="images/fuuka wallpaper.jpg" alt="" width="24" height="24" class="d-inline-block align-text-top">
        H2E2
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="toggleMobileMenu">
        <ul class="navbar-nav ms-auto text-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="newTrade.html">Start Trading!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Log In</a>
            </li>
        </ul>
      </div>
    </div>
</nav>

<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid" id="bordered-nav">
      <ul class="navbar-nav ms-right">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="trades.html">Trades</a>
          </li>
      </ul>
  </div>
</nav>