.navbar-nav > li {
    padding: 0 3em 0 1em;
}

.navbar-brand {
    padding-left: 1em;
}

#top-white-space {
    padding-top: 2.9vh;
    background-color: #222529;
}

#bordered-nav {
    border-top: white;
    border-width: 1px;
    border-style:solid;
}

#footer-nav {
    background-color: #222529;
}

#copyright {
    color: gray;
}

#welcome {
    padding: 15vh 5vh 20vh 5vh;
}

.row {
    height: 75vh;
}

@media screen and (max-width: 1000px) {
    .row {
        height: 100%;
    }
    
}

#trade-categories {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    margin: 5em 3em 5em 3em;
}

#item-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    margin: 10vh 0;
}

.form-group {
    margin-bottom: 2vh;
}

#description {
    height: 15vh;
}

.btn {
    margin: .5vh;
}